@charset "utf-8";
/* CSS Document */
body{
     background: url(imagens/background03a.jpg); /*inserção da imagem de fundo em todo o site*/
     color:#868686; /*cor padrão para todas as fontes*/
     font-family: "Open Sans", Helvetica, sans-serif, arial; /*definição da fonte geral incorporada do Google Fonts*/
     /*font-size: 18px; /*tamanho da fonte*/
	 font-size: 1.125em; /* 18px ÷ 16px = 1.125em */
     font-weight: 300; /*indica que a fonte está coonfigurada como Open Sans Light*/
     line-height: 22px;/*altura da linha*/
     text-align: left; /*alinhando o texto à esquerda*/
     text-shadow:1px 1px 0px #fff; /*sombreamento para as fontes do site*/
	 
}
.center{
     margin: 0 auto;
     max-width:1200px; /*largura máxima do layout*/
     width: 90%; /*ajuste do layout à tela*/
}
/*.clearfix usado para adicionar um espaço vazio antes e depois dos elementos
  evitando que os floats se aglomerem.
*/
/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
/*fim do clearfix*/
img, picture, video, embed {
    max-width: 100%; /*define a largura máxima em até 100%*/
}
h1, h2{
     color:#FE9380;
     font-size: 60px;
     font-weight: 800;
     letter-spacing: -3px; /*espaçamento entre as letras*/
     line-height: 60px;
}
h3{
     font-size: 32px;
     font-weight: 300;
     letter-spacing: -2px; /*espaçamento entre as letras*/
     line-height: 38px;
}
p{
     font-weight: 300;/*modifica a força da fonte para light*/
     letter-spacing: -1px; /*espaçamento entre as letras*/
}
a, a:link, a:visited, a:hover{
     color:#FE9380; /*cor dos links*/
     font-weight:400; /*modifica a força da fonte para semi-bold*/
     text-decoration:none; /*retira o sublinhado dos links*/
}

/*----------------------------------------------------------
Seção HEADER - Topo do Site <<<<<===========================
----------------------------------------------------------*/

/*
=========================
logotipo
=========================
*/
	 
     /*header h1 a{
          
          display:block;
          float:left;
          height:297px;
          text-indent:-9999;
          width:80.333333333333%; /* 700px ÷ 1200px = 0.58333333333333 x 100 = 58.333333333333%
		  background-position:center;
		  
		  
     }
/*
=========================
nav - menu de navegação
=========================
*/

nav {
	height: 40px;
	width: 100%;
	background: #455868;
	font-size: 11pt;
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: bold;
	position: relative;
	border-bottom: 2px solid #283744;
}
nav ul {
	
	padding: 0;
	margin: 0 auto;
	width: 600px;
	height: 40px;
}
nav li {
	display: inline;
	float: left;
}
nav a {
	color: #fff;
	display: inline-block;
	width: 150px;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
	text-shadow: 1px 1px 0px #283744;
}
nav li a {
	border-right: 1px solid #576979;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
nav li:last-child a {
	border-right: 0;
}
nav a:hover, nav a:active {
	background-color: #8c99a4;
}
nav a#pull {
	display: none;
}

/*
=========================
nav - menu Social
=========================
*/

.sticky-container {
/*background-color: #333;*/
padding: 0px;
margin: 0px;
position: fixed;
right: -119px;
top: 130px;
width: 200px;
}
.sticky li {
list-style-type: none;
background-color: #333;
color: #efefef;
height: 43px;
padding: 0px;
margin: 0px 0px 1px 0px;
-webkit-transition: all 0.25s ease-in-out;
-moz-transition: all 0.25s ease-in-out;
-o-transition: all 0.25s ease-in-out;
transition: all 0.25s ease-in-out;
cursor: pointer;
filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");

filter: gray;
-webkit-filter: grayscale(100%);
}
.sticky li:hover {
margin-left: -115px;
-webkit-transform: translateX(-115px);
		-moz-transform: translateX(-115px);
		-o-transform: translateX(-115px);
		-ms-transform: translateX(-115px);
		transform:translateX(-115px);
		/*background-color: #8e44ad;*/
filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
-webkit-filter: grayscale(0%);
}
.sticky li img {
float: left;
margin: 5px 5px;
margin-right: 10px;
}
.sticky li p {
padding: 0px;
margin: 0px;
text-transform: uppercase;
line-height: 43px;
}

/*----------------------------------------------------------
Seção .CHAMADA <<<<<========================================
----------------------------------------------------------*/
.chamada{
     min-height:100%;
	 min-width:100%;
	 height:100%;
     width:100%; /*1200px ÷ 1200px = 1 x 100 = 100%*/
	 
     position: relative;

	 
}
/*----------------------------------------------------------
Seção .CONTAINER - Conteúdo com 3 colunas <<<<<=============
----------------------------------------------------------*/
.container{
     background-color:#282828;
     height: 417px;
     padding:2.5%; /* 30px ÷ 1200px = 0.025 x 100 = 2.5%*/
     width:95%; /* 1200px ÷ 1200px = 1 x 100 = 100% .:. 100% - 5.0% de padding (direita e esquerda) = 95%*/
	 margin-top:10px;
 	 
}
/*Por causa do padding, a largura, width, do .container passou de 1.200px para 1.140px (95%)*/
.desktop{
	 margin-top:10px;
     float:left;
     position:relative;
     text-align:center;
     width:43.859649122%; /* 500px ÷ 1140px = 0.43859649122 x 100 = 43.859649122%*/
	 background-color:#FFF;
	 
}
/*
=========================
figure - imagens
=========================
*/
.container .desktop figure, .container .tablet figure, .container .mobile figure {
     width:69.44444444444444%; /* 250px ÷ 360px = 0.6944444444444 x 100 = 69.44444444444444%*/
}
/*
=========================
formatação do texto
=========================
*/
.container h3{
     color:#fff;
     font-size: 1.77777777778em; /* 32px ÷ 18px = 1.77777777778em */
     font-weight: 300;
     letter-spacing: -0.0625em; /* -2px ÷ 32px = 0.0625em */
     margin-bottom: 30px;
     text-shadow:none;
}
.container p{
     background-color:#fff;
     float:left;
     height:160px;
     padding: 1.9444444444444445%; /* 7px ÷ 360px =  0.019444444444444445 x 100 =  1.9444444444444445%*/
     position:absolute;
     width-max:100%; /* 360px ÷ 360px = 1 x 100 = 100%*/
     text-align:justify;
     top:225px;
}
/*
=========================
formatação do botão
=========================
*/
span.btn{
     font-size: 1.1111111111em; /* 20px ÷ 18px = 1.1111111111em */
     font-weight: 400;
     letter-spacing: -0.1em; /* -2px ÷ 20px = -0.1em */
     height:27px;
     margin-top: 30px;
     position:absolute;
     right: 1px;
     text-align:center;
     text-shadow:none;
     width:33.33333333333333%; /* 120px ÷ 360px = 0.3333333333333333 x 100 = 33.33333333333333%*/
}
span.btn a{
     color:#fff;
     padding: 2px 3.333333333333333%; /* 4px ÷ 120px = 0.3333333333333333 x 100 = 3.333333333333333%*/
}
.desktop span.btn a{
     background-color:#FE9481;
}
.tablet span.btn a{
     background-color:#FCDA92;
}
.mobile span.btn a{
     background-color:#9C8CB9;
}
/*----------------------------------------------------------
Seção FOOTER - Rodape com 2 colunas <<<<<===================
----------------------------------------------------------*/
footer{
     clear:both;
     height: 50px;
     padding: 10px 0;
     width:100%; /* 1200px ÷ 1200px = 1 x 100 = 100%*/
}
.copyright{
     float:left;
     margin-left: 2.5%; /* 30px ÷ 1200px = 0.025 x 100 = 2.5%*/
}
.desenvolvedor{
     float:right;
}
.desenvolvedor figure{
     width:100%;
}

img {
    max-width: 100%; /*define a largura máxima em até 100%*/
}


@media screen and (max-width: 1200px){
     .chamada h3 {
          font-size: 1.66666666667em; /* 30px ÷ 18px */
     }
     .container h3{
          font-size: 1.55555555556em; /*  28px ÷ 18px */
     }
     .container p{
          height: 170px;
          top:217px;
     }
}

/*Styles for screen 600px and lower*/
@media screen and (max-width: 600px) {
     h2, a, a:link, a:visited{
     color:#FBCA61;
}
     a:hover{
          color:#F9AD0F;
}
/*header*/    
     header {
          height:195px;
          text-align:center;
     }
          header h1 a{
               background-position: 57% 0;
               height: 126px;
               margin-bottom: 15px;
               width: 100%;
          }

	nav { 
        height: auto;
    }
    nav ul {
        width: 100%;
        display: block;
        height: auto;
    }
    nav li {
        width: 50%;
        float: left;
        position: relative;
    }
    nav li a {
        border-bottom: 1px solid #576979;
        border-right: 1px solid #576979;
    }
    nav a {
        text-align: left;
        width: 100%;
        text-indent: 25px;
    }
/*.chamada*/
     .chamada{
          height:200px;
     }
          h2 {
               font-size: 2.2222222222em; /*40px ÷ 18px*/
          }
          .chamada h3{
               font-size:1.1111111111em; /*20px ÷ 18px*/
          }
/*.container*/
     .container{
          background-color:#FCDA92;
          height: 380px;
          padding:3.90625%; /* 30px ÷ 768px = 0.025 x 100 = 2.5%*/
          width:92.1875%; /* 100% (768px) - 7.8125% de padding (direita e esquerda) = 92.1875%*/
     }
          .desktop, .tablet, .mobile{
               width:31.25%; /* 240px ÷ 768px */
          }
          .container .desktop figure, .container .tablet figure, .container .mobile figure {
               width:62.25%; /* 150px ÷ 240px %*/
          }
               .container img{
                         height:80px;
                    }
          .container h3{
               font-size: 1.6666666667em; /*30px ÷ 18px*/
          }
          .container p{
               font-size: 0.7777777778em; /*14px ÷ 18px*/
               height:140px;
               line-height: 1.1428571428em; /*16px ÷ 14px*/
               padding: 2.9166666667%; /* 7px ÷ 240px */
               top: 215px;
          }
               span.btn{
                    font-size: 1.1111111111em; /* 20px ÷ 18px = 1.1111111111em */
                    letter-spacing: -0.1em; /* -2px ÷ 20px = -0.1em */
                    height:22px;
                    margin-top: 20px;
                    position:absolute;
                    width:50%;
               }
               span.btn a{
                    padding: 2px 3.333333333333333%; /* 4px ÷ 120px */
               }
}

/*menu nav*/
/*Styles for screen 515px and lower*/
@media only screen and (max-width : 480px) {
*{
     margin:0;
     padding:0;
}
.center{
     width:100%;
}
/*cores dos links e H2*/
h2, a, a:link, a:visited{
     color:#9C8CB9;
}
a:hover{
          color:#745F9A;
}
/*header*/    
header {
     border-bottom: none;
     height:auto;
     text-align:center;
}
     header h1 a{
          background-position: 50% 0;
          display:inherit;
          height: 126px;
          width: 100%;
     }

	nav {
        border-bottom: 0;
    }
    nav ul {
        display: none;
        height: auto;
    }
    nav a#pull {
        display: block;
        background-color: #283744;
        width: 100%;
        position: relative;
    }
    nav a#pull:after {
        content:"";
        background: url(imagens/nav-icon.png) no-repeat;
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 10px;
    }

/*.chamada*/
.chamada{
     height:130px;
     margin-top:25px;
}
     h2 {
          font-size: 1.4444444444em; /*26px ÷ 18px*/
          letter-spacing:-0.0769230769230769em; /*2px ÷ 26px*/
          margin-bottom: 15px;
     }
     .chamada h3{
          font-size:0.7777777778em; /*14px ÷ 18px*/
     }
/*.container*/
.container{   
     background-color:#9C8CB9;
     margin:0;
     padding:0;
     width:100%;
}
     .container .desktop, .container .tablet, .container .mobile{
          float:none;
          height:160px;
          width:100%;
     }
     .container .desktop figure, .container .tablet figure, .container .mobile figure{
          float:left;
          height:160px;
          margin:0;
          padding:0;
          width: 53.125%; /*255px ÷ 480px*/
     }
     .container h3{
          float:left;
          margin-top: 40px;
          width: 46.875%; /*225px ÷ 480px*/
     }   
          .container .desktop figure img, .container .tablet figure img, .container .mobile figure img{
               height:125px;
               margin-top:15px;
               width:86.2745098040%; /*220px ÷ 255px*/
          }
     .container p{
          display:none; /*oculta o parágrafo*/
     }
/*footer*/
     .copyright, .desenvolvedor{
          float:none;
          margin: 0;
          padding: 0;
          text-align:center;
     }
     .desenvolvedor figure{
          width:inherit;
     }
}

/*cores dos links e H2*/
/*Smartphone*/
@media only screen and (max-width : 320px) {
	nav li {
        display: block;
        float: none;
        width: 100%;
    }
    nav li a {
        border-bottom: 1px solid #576979;
    }	  
/*.chamada*/
.chamada{
     height:130px;
     margin-top:20px;
}
     h2 {
          font-size: 1.1111111111em; /*20px ÷ 18px*/
          margin-bottom: 15px;
     }
     .chamada h3{
          font-size:0.7777777778em; /*14px ÷ 18px*/
     }
/*.container*/
     .container .desktop, .container .tablet, .container .mobile{
          float:none;
          height:160px;
          width:100%;

     }
     .container .desktop figure, .container .tablet figure, .container .mobile figure{
          float:left;
          width: 100%;
     }
     .container h3{
          display:none;
     }   
     .container p{
          display:none; /*oculta o parágrafo*/
     }
}
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

div#slider { overflow: hidden; }
div#slider figure img { width: 20%; height: auto; float: left; }
div#slider figure { 
  position: relative;
  width: 500%;
  height: 10%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
}