@charset "utf-8";
/* CSS Document */
body{
     background: url(imagens/Background03.jpg); /*inserção da imagem de fundo em todo o site*/
     color:#868686; /*cor padrão para todas as fontes*/
     font-family: "Open Sans", Helvetica, sans-serif, arial; /*definição da fonte geral incorporada do Google Fonts*/
     /*font-size: 18px; /*tamanho da fonte*/
	 font-size: 1.125em; /* 18px ÷ 16px = 1.125em */
     font-weight: 300; /*indica que a fonte está coonfigurada como Open Sans Light*/
     line-height: 22px;/*altura da linha*/
     text-align: left; /*alinhando o texto à esquerda*/
     text-shadow:1px 1px 0px #fff; /*sombreamento para as fontes do site*/
}
.center{
     margin: 0 auto;
     max-width:1200px; /*largura máxima do layout*/
     width: 90%; /*ajuste do layout à tela*/
}
/*.clearfix usado para adicionar um espaço vazio antes e depois dos elementos
  evitando que os floats se aglomerem.
*/
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
/*fim do clearfix*/
img, picture, video, embed {
    max-width: 100%; /*define a largura máxima em até 100%*/
}
h1, h2{
     color:#4682b4;
     font-size: 60px;
     font-weight: 800;
     letter-spacing: -3px; /*espaçamento entre as letras*/
     line-height: 60px;
}
h3{
     font-size: 32px;
     font-weight: 300;
     letter-spacing: -2px; /*espaçamento entre as letras*/
     line-height: 38px;
}
p{
     font-weight: 300;/*modifica a força da fonte para light*/
     letter-spacing: -1px; /*espaçamento entre as letras*/
}
a, a:link, a:visited{
     color:#FE9380; /*cor dos links*/
     font-weight:400; /*modifica a força da fonte para semi-bold*/
     text-decoration:none; /*retira o sublinhado dos links*/
}
a:hover{
     color:#FE5E41;
     text-decoration:underline; /*inseri uma linha sob o link*/
     text-shadow:none; /*retira a sombra da fonte*/
}
/*----------------------------------------------------------
Seção HEADER - Topo do Site <<<<<===========================
----------------------------------------------------------*/

/*
=========================
logotipo
=========================
*/
	 
     /*header h1 a{
          
          display:block;
          float:left;
          height:297px;
          text-indent:-9999;
          width:80.333333333333%; /* 700px ÷ 1200px = 0.58333333333333 x 100 = 58.333333333333%
		  background-position:center;
		  
		  
     }
/*
=========================
nav - menu de navegação
=========================
*/
back ul{	
	width:88.6666666666667%;
	text-align:center;
	
}
nav{
     position:fixed;
	 top:0;
	 z-index:9999;
	 height:60px;
	 background-color:#FE9481;
     text-align:center;
     width:88.6666666666667%; /* 500px ÷ 1200px = 0.416666666666667 x 100 = 41.6666666666667%*/
}
     nav ul{
          list-style-type:none;
     }
          nav li {
               display: inline;
          }
               nav ul li a{
                    margin-right: 0.7%; /* 30px ÷ 1200px = 0.025 x 100 = 2.5%*/

               }
                    nav ul li:nth-child(5) a{
                         margin-right:0;
						 
                    }
               nav a:link, nav a:visited{
                    color:;
                    font-size: 1.2222222222em; /* 22px ÷ 18px = 1.2222222222em */
                    font-weight: 300;
                    letter-spacing: -0.0909090909em; /* -2px ÷ 22px = -0.0909090909em */
                    line-height: 1.18181818182em; /* 26px ÷ 22px = 1.18181818182em */
                    display:inline-block;
					
               }
               nav a.ativo:link, nav a:hover{
                    color:#FE9380;
               }
/*----------------------------------------------------------
Seção .CHAMADA <<<<<========================================
----------------------------------------------------------*/
.chamada{
	
	 height:290px;
     width:88.6666666666667%; /*1200px ÷ 1200px = 1 x 100 = 100%*/
	 background-color:#FE9380;
	 position:absolute;
	 
	 
	 
}
     h2 span{
		  text-align:justify;
		  font-size: 0.45em; /* 60px ÷ 60px = 1em */
          letter-spacing: -0.0333333333em; /* -2px ÷ 60px = 0.0333333333em */
          line-height: 1em; /* 60px ÷ 60px = 1em */
		  position:absolute;
     }
     
/*----------------------------------------------------------
Seção .CONTAINER - Conteúdo com 3 colunas <<<<<=============
----------------------------------------------------------*/
.container{
     background-color:transparent;
     height: 500px;
     padding:2.5%; /* 30px ÷ 1200px = 0.025 x 100 = 2.5%*/
     width:95%; /* 1200px ÷ 1200px = 1 x 100 = 100% .:. 100% - 5.0% de padding (direita e esquerda) = 95%*/
}
/*Por causa do padding, a largura, width, do .container passou de 1.200px para 1.140px (95%)*/
.desktop{
     position:relative;
     text-align:center;
     width:95%; /* 360px ÷ 1140px = 0.3157894736842105 x 100 = 31.57894736842105%*/
	 background-color:#F90;
	 margin-top:290px;
}
/*
=========================
formatação do texto
=========================
*/
.container h3{
     color:#fff;
     font-size: 1.77777777778em; /* 32px ÷ 18px = 1.77777777778em */
     font-weight: 300;
     letter-spacing: -0.0625em; /* -2px ÷ 32px = 0.0625em */
     margin-bottom: 30px;
     text-shadow:none;
}
.container p{
     background-color:#fff;
     float:left;
     height:160px;
     padding: 1.9444444444444445%; /* 7px ÷ 360px =  0.019444444444444445 x 100 =  1.9444444444444445%*/
     position:absolute;
     width-max:100%; /* 360px ÷ 360px = 1 x 100 = 100%*/
     text-align:justify;
     top:225px;
}
/*
=========================
formatação do botão
=========================
*/
span.btn{
     font-size: 1.1111111111em; /* 20px ÷ 18px = 1.1111111111em */
     font-weight: 400;
     letter-spacing: -0.1em; /* -2px ÷ 20px = -0.1em */
     height:27px;
     margin-top: 30px;
     position:absolute;
     right: 1px;
     text-align:center;
     text-shadow:none;
     width:33.33333333333333%; /* 120px ÷ 360px = 0.3333333333333333 x 100 = 33.33333333333333%*/
}
span.btn a{
     color:#fff;
     padding: 2px 3.333333333333333%; /* 4px ÷ 120px = 0.3333333333333333 x 100 = 3.333333333333333%*/
}
.desktop span.btn a{
     background-color:#FE9481;
}
.tablet span.btn a{
     background-color:#FCDA92;
}
.mobile span.btn a{
     background-color:#9C8CB9;
}
/*----------------------------------------------------------
Seção FOOTER - Rodape com 2 colunas <<<<<===================
----------------------------------------------------------*/
footer{
     clear:both;
     height: 50px;
     padding: 10px 0;
     width:100%; /* 1200px ÷ 1200px = 1 x 100 = 100%*/
}
.copyright{
     float:left;
     margin-left: 2.5%; /* 30px ÷ 1200px = 0.025 x 100 = 2.5%*/
}
.desenvolvedor{
     float:right;
}
.desenvolvedor figure{
     width:100%;
}

img {
    max-width: 100%; /*define a largura máxima em até 100%*/
}


@media screen and (max-width: 1200px){
     .chamada h3 {
          font-size: 1.66666666667em; /* 30px ÷ 18px */
     }
     .container h3{
          font-size: 1.55555555556em; /*  28px ÷ 18px */
     }
     .container p{
          height: 170px;
          top:217px;
     }
}

@media screen and (max-width:960px){
     header h1 a{
          width:37.5%; /* 360px ÷ 960px */
     }
     nav{
          width:62.5%; /* 600px ÷ 960px */
     }
     h2{
          font-size:2.6666666667em; /*48px ÷ 18px*/
     }
/*.chamada*/
     .chamada {
          height: 250px;
     }
          .chamada h3{
               font-size:1.5em; /*27px ÷ 18px*/
               width:88.54166666666667%; /*850px ÷ 960px*/
          }
/*.container*/
     .container{
          height: 425px;
          padding:3.125%; /* 30px ÷ 960px */
          width:93.75%; /* 100% (960px) - 6.25% de padding (direita e esquerda) = 92.1875%*/
     }
          .desktop, .tablet, .mobile{
               width:31.45833333333333%; /* 302px ÷ 960px */
          }
          .container .desktop figure, .container .tablet figure, .container .mobile figure {
               width:66.22516556291391%; /* 200px ÷ 302px %*/
          }
               .container img{
                         height:100px;
                    }
          .container h3{
               font-size: 1.6666666667em; /*30px ÷ 18px*/
          }
          .container p{
               font-size: 0.8333333333em; /*15px ÷ 18px*/
               top: 230px;
          }
}

@media screen and (max-width:768px){
/*cores dos links e H2*/
     h2, a, a:link, a:visited{
     color:#FBCA61;
}
     a:hover{
          color:#F9AD0F;
}
/*header*/    
     header {
          height:195px;
          text-align:center;
     }
          header h1 a{
               background-position: 57% 0;
               height: 126px;
               margin-bottom: 15px;
               width: 100%;
          }
          nav{
               float:none;
               text-align:center;
               width: 100%;
          }
               nav a.ativo:link, nav a:hover{
                    color:#FBCA61;
               }
/*.chamada*/
     .chamada{
          height:200px;
     }
          h2 {
               font-size: 2.2222222222em; /*40px ÷ 18px*/
          }
          .chamada h3{
               font-size:1.1111111111em; /*20px ÷ 18px*/
          }
/*.container*/
     .container{
          background-color:#FCDA92;
          height: 380px;
          padding:3.90625%; /* 30px ÷ 768px = 0.025 x 100 = 2.5%*/
          width:92.1875%; /* 100% (768px) - 7.8125% de padding (direita e esquerda) = 92.1875%*/
     }
          .desktop, .tablet, .mobile{
               width:31.25%; /* 240px ÷ 768px */
          }
          .container .desktop figure, .container .tablet figure, .container .mobile figure {
               width:62.25%; /* 150px ÷ 240px %*/
          }
               .container img{
                         height:80px;
                    }
          .container h3{
               font-size: 1.6666666667em; /*30px ÷ 18px*/
          }
          .container p{
               font-size: 0.7777777778em; /*14px ÷ 18px*/
               height:140px;
               line-height: 1.1428571428em; /*16px ÷ 14px*/
               padding: 2.9166666667%; /* 7px ÷ 240px */
               top: 215px;
          }
               span.btn{
                    font-size: 1.1111111111em; /* 20px ÷ 18px = 1.1111111111em */
                    letter-spacing: -0.1em; /* -2px ÷ 20px = -0.1em */
                    height:22px;
                    margin-top: 20px;
                    position:absolute;
                    width:50%;
               }
               span.btn a{
                    padding: 2px 3.333333333333333%; /* 4px ÷ 120px */
               }
}

@media screen and (max-width:480px){
/*Geral*/
*{
     margin:0;
     padding:0;
}
.center{
     width:100%;
}
/*cores dos links e H2*/
h2, a, a:link, a:visited{
     color:#9C8CB9;
}
a:hover{
          color:#745F9A;
}
/*header*/    
header {
     border-bottom: none;
     height:auto;
     text-align:center;
}
     header h1 a{
          background-position: 50% 0;
          display:inherit;
          height: 126px;
          width: 100%;
     }
/*menu nav*/
nav{
     clear:both;
}
     nav li {
          background-color: #9C8CB9;
          display:block;
     }
          nav ul li a{
               height: 40px;
               margin: 0 auto;
               padding-top:3px;
               text-align:center;
               text-shadow:none;
               width: 100%;
          }
          nav li a:link{
               color:#fff;
               font-size:1.3888888889em; /*25px ÷ 18px*/
          }
          nav li a.ativo:link, nav li a:hover, nav li a:visited {
               background-color:#745F9A;
               color:#fff;
               text-decoration:none;
          }
          nav li a.ativo:hover, nav li a.ativo:visited{
                background-color: #9C8CB9;
          }
/*.chamada*/
.chamada{
     height:130px;
     margin-top:25px;
}
     h2 {
          font-size: 1.4444444444em; /*26px ÷ 18px*/
          letter-spacing:-0.0769230769230769em; /*2px ÷ 26px*/
          margin-bottom: 15px;
     }
     .chamada h3{
          font-size:0.7777777778em; /*14px ÷ 18px*/
     }
/*.container*/
.container{   
     background-color:#9C8CB9;
     margin:0;
     padding:0;
     width:100%;
}
     .container .desktop, .container .tablet, .container .mobile{
          float:none;
          height:160px;
          width:100%;
     }
     .container .desktop figure, .container .tablet figure, .container .mobile figure{
          float:left;
          height:160px;
          margin:0;
          padding:0;
          width: 53.125%; /*255px ÷ 480px*/
     }
     .container h3{
          float:left;
          margin-top: 40px;
          width: 46.875%; /*225px ÷ 480px*/
     }   
          .container .desktop figure img, .container .tablet figure img, .container .mobile figure img{
               height:125px;
               margin-top:15px;
               width:86.2745098040%; /*220px ÷ 255px*/
          }
     .container p{
          display:none; /*oculta o parágrafo*/
     }
/*footer*/
     .copyright, .desenvolvedor{
          float:none;
          margin: 0;
          padding: 0;
          text-align:center;
     }
     .desenvolvedor figure{
          width:inherit;
     }
}

@media screen and (max-width:320px){
/*cores dos links e H2*/
h2, a, a:link, a:visited{
     color:#79E1D5;
}
a:hover{
          color:#2FD0BC;
}
/*menu nav*/
     nav li {
          background-color: #79E1D5;
     }
          nav li a:link{
          color:#555;
          }
          nav li a.ativo:link, nav li a:hover, nav li a:visited {
               background-color:#2FD0BC;
               color:#fff;
          }
          nav li a.ativo:hover, nav li a.ativo:visited{
                background-color: #2FD0BC;
          }
/*.chamada*/
.chamada{
     height:130px;
     margin-top:20px;
}
     h2 {
          font-size: 1.1111111111em; /*20px ÷ 18px*/
          margin-bottom: 15px;
     }
     .chamada h3{
          font-size:0.7777777778em; /*14px ÷ 18px*/
     }
/*.container*/
     .container .desktop, .container .tablet, .container .mobile{
          float:none;
          height:160px;
          width:100%;
     }
     .container .desktop figure, .container .tablet figure, .container .mobile figure{
          float:left;
          width: 100%;
     }
     .container h3{
          display:none;
     }   
     .container p{
          display:none; /*oculta o parágrafo*/
     }
}
/*----------------------------------------------------------
Seção FORM - Formulário <<<<<===================
----------------------------------------------------------*/
:-moz-placeholder {
    color: #87ceeb;
}
 
::-webkit-input-placeholder {
    color: #87ceeb;
}
*:focus {outline: none;}

.contact_form ul {
    width:350px;
    list-style-type:none;
    list-style-position:outside;
    margin:0px;
    padding:0px;
}
.contact_form li{
    padding:8px; 
    border-bottom:1px solid #eee;
    position:relative;
}

.contact_form li:first-child, .contact_form li:last-child {
    border-bottom:1px solid #777;
}

.contact_form h2 {
    margin:0;
    display: inline;
}
.required_notification {
    color:#d45252; 
    margin:5px 0 0 0; 
    display:inline;
    float:right;
}

.contact_form label {
    width:150px;
    margin-top: 3px;
    display:inline-block;
    float:left;
    padding:3px;
}
.contact_form input {
    height:20px; 
    width:220px; 
    padding:5px 8px;
}
.contact_form textarea {padding:8px; width:300px;}
.contact_form button {margin-left:156px;}

.contact_form input, .contact_form textarea { 
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
}
.contact_form input:focus, .contact_form textarea:focus {
    background: #fff; 
    border:1px solid #555; 
    box-shadow: 0 0 3px #aaa; 
}
/* Button Style */
button.submit {
    background-color: #68b12f;
    background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
    background: -webkit-linear-gradient(top, #68b12f, #50911e);
    background: -moz-linear-gradient(top, #68b12f, #50911e);
    background: -ms-linear-gradient(top, #68b12f, #50911e);
    background: -o-linear-gradient(top, #68b12f, #50911e);
    background: linear-gradient(top, #68b12f, #50911e);
    border: 1px solid #509111;
    border-bottom: 1px solid #5b992b;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #9fd574;
    -webkit-box-shadow: 0 1px 0 0 #9fd574 inset ;
    -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
    -ms-box-shadow: 0 1px 0 0 #9fd574 inset;
    -o-box-shadow: 0 1px 0 0 #9fd574 inset;
    color: white;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #396715;
}
button.submit:hover {
    opacity:.85;
    cursor: pointer; 
}
button.submit:active {
    border: 1px solid #20911e;
    box-shadow: 0 0 10px 5px #356b0b inset; 
    -webkit-box-shadow:0 0 10px 5px #356b0b inset ;
    -moz-box-shadow: 0 0 10px 5px #356b0b inset;
    -ms-box-shadow: 0 0 10px 5px #356b0b inset;
    -o-box-shadow: 0 0 10px 5px #356b0b inset;     
}

.contact_form input:focus, .contact_form textarea:focus { /* add this to the already existing style */
    padding-right:70px;
}

.contact_form input, .contact_form textarea { /* add this to the already existing style */
    -moz-transition: padding .25s; 
    -webkit-transition: padding .25s; 
    -o-transition: padding .25s;
    transition: padding .25s;
}

.contact_form input, .contact_form textarea {
    padding-right:30px;
}
input:required, textarea:required {
    background: #fff url(imagens/red_asterisk.png) no-repeat 98% center;
}

.contact_form input:focus:invalid, .contact_form textarea:focus:invalid { /* when a field is considered invalid by the browser */
    background: #fff url(imagens/invalid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}

.contact_form input:required:valid, .contact_form textarea:required:valid { /* when a field is considered valid by the browser */
    background: #fff url(imagens/valid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}

.form_hint {
    background: #d45252;
    border-radius: 3px 3px 3px 3px;
    color: white;
    margin-left:8px;
    padding: 1px 6px;
    z-index: 999; /* hints stay above all other elements */
    position: absolute; /* allows proper formatting if hint is two lines */
    display: none;
}

.form_hint::before {
    content: "\25C0"; /* left point triangle in escaped unicode */
    color:#d45252;
    position: absolute;
    top:1px;
    left:-6px;
}

.contact_form input:focus + .form_hint {display: inline;}
.contact_form input:required:valid + .form_hint {background: #28921f;} /* change form hint color when valid */
.contact_form input:required:valid + .form_hint::before {color:#28921f;} /* change form hint arrow color when valid */
